@import "tailwindcss";

html,
body,
#__next {
  height: 100%;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  height: 100%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #faa325;
  --color-primary2: #ef9545;
  --color-primary3: #d3622a;
  --color-secondary: #2d2e2d;
  --color-light: #b1b1b1;
  --color-secondaryText: #8b8b8b;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes loadingBar {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-loadingBar {
  animation: loadingBar 1.5s infinite linear;
}
