@import "tailwindcss";

html,
body,
#__next {
  height: 100%;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  height: 100%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #faa325;
  --color-primary2: #ef9545;
  --color-primary3: #d3622a;
  --color-secondary: #2d2e2d;
  --color-light: #b1b1b1;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
